<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center">Caja de herramientas multiuso</ion-card-title>
      </ion-card-header>
      <ion-card-content class="ion-text-center">
        <img src="assets/herramientas.jpeg" alt="inicio" height="350" width="200">
      </ion-card-content>
    </ion-card>
  
</ion-content>
